{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
<p>{% trans "You are registered. Please contact an admin to add access permissions before you attempt to login to the EMR." %}</p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
